<script lang="ts" setup>
  const sessionUser = ref(useSessionUser())
</script>
<template>
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <nuxt-link to="/">Home</nuxt-link>
        -
        <nuxt-link to="/login">Login</nuxt-link>
        -
        <nuxt-link to="/mon-compte">Account</nuxt-link>
      </div>
      <div v-if="sessionUser" class="col text-end">
        {{ sessionUser.screename }}
      </div>
    </div>
  </div>
</template>