<script lang="ts" setup>
definePageMeta({
  middleware: ['user-only'],
})
const router = useRouter()
const currentUser = useSessionUser()
</script>
<template>
  <h2 class="ibm-plex-mono">Account</h2>
  <AuthLogout @success="router.push({ path: '/login' })" />
  <debug class="mt-4">
    {{ currentUser }}
  </debug>
</template>
