<script lang="ts" setup>
const runtimeConfig = useRuntimeConfig()

const hello = ref()
try {
  const resp = await useFetch('/api/hello')
  hello.value = resp.data
} catch (error) {
  // pass
}
</script>
<template>
  <h2 class="ibm-plex-mono">Home</h2>
  <p class="graphik-web-regular">
    Ce projet Nuxt3 intègre une authentification basée sur des cookies. Ainsi
    que les modules suivant :
  </p>
  <ul>
    <li>
      La gestion des langues est assurée par i18n, qui permet à l'application de
      s'adapter à différents pays et langues.
    </li>
    <li>
      Dayjs nous permet de fournir une date et une heure précises et cohérentes
      dans l'application.
    </li>
    <li>
      Font-loader permet à l'application de charger des polices de caractères
      externes.
    </li>
    <li>
      Nuxt Icon nous permet d'intégrer des icônes vectorielles pour améliorer
      l'expérience utilisateur.
    </li>
  </ul>
  <h3 class="graphik-web-regular">Modules</h3>
  <ul class="graphik-web-regular">
    <li>SCSS global variables : <mark class="custom-color">$yellow</mark></li>
    <li>I18n : {{ $t('ENABLED', { name: 'vue-i18n' }) }}</li>
    <li>Dayjs : {{ $dayjs(new Date()).format('dddd DD MMMM YYYY') }}</li>
    <li>Nuxt Icon : <Icon name="fa6-solid:rocket" /></li>
    <li>API : Hello {{ hello }}</li>
  </ul>
  <h3 class="graphik-web-regular">Markdown</h3>
  <section
    v-html="
      $mdRenderer.render(
        'Test **Bold** *em**\nMarkdownit https://github.com/nuxt-community/markdownit-module'
      )
    "
  ></section>
  <h3 class="graphik-web-regular">Config</h3>
  <debug>
    {{ runtimeConfig.public }}
  </debug>
</template>
<style lang="scss" scoped>
.custom-color {
  background-color: $yellow;
}
</style>
