<script lang="ts" setup>
const currentUser = useSessionUser()
</script>
<template>
  <h2 class="ibm-plex-mono">Login</h2>
  <AuthLogin />
  <debug class="mt-4">
    {{ currentUser }}
  </debug>
</template>
<style scoped></style>
