<script lang="ts" setup>
const { login, me } = useAuth()

const submit = async () => {
  await login('olivier@k3z.fr', 'secret', true)
  me()
}
</script>
<template>
  <button class="btn btn-primary" @click="submit()">
    S’identifier
  </button>
</template>