<script lang="ts" setup>
const emit = defineEmits(['success'])
const { logout } = useAuth()
const submit = async () => {
  await logout()
  emit('success')

}
</script>
<template>
  <button class="btn btn-secondary" @click="submit()">
    Déconnexion
  </button>
</template>